{% extends "biblioteca/base.html" %}

{% block titulo %}
Excluir leitor | BiblioSys
{% endblock %}

{% block conteudo %}
<h2>Excluir leitor</h2>

<p>
    Confirma a exclusão do leitor
    <strong>{{ leitor.nome_completo }}</strong>?
</p>

<form method="post">
    {% csrf_token %}

    <div class="acoes">
        <button class="botao excluir" type="submit">
            Confirmar exclusão
        </button>

        <a class="botao secundario" href="{% url 'listar_leitores' %}">
            Cancelar
        </a>
    </div>
</form>
{% endblock %}
