{% extends "biblioteca/base.html" %}

{% block titulo %}
Leitores | BiblioSys
{% endblock %}

{% block conteudo %}
<h2>Leitores cadastrados</h2>

<div class="acoes">
    <a class="botao" href="{% url 'cadastrar_leitor' %}">
        Cadastrar novo leitor
    </a>
</div>

<div class="table-wrap">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Vínculo</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for leitor in leitores %}
                <tr>
                    <td>{{ leitor.nome_completo }}</td>
                    <td>{{ leitor.cpf }}</td>
                    <td>{{ leitor.email }}</td>
                    <td>{{ leitor.get_tipo_vinculo_display }}</td>

                    <td>
                        {% if leitor.ativo %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>

                    <td>
                        <div class="acoes">
                            <a
                                class="botao editar"
                                href="{% url 'editar_leitor' leitor.id %}"
                            >
                                Editar
                            </a>

                            <a
                                class="botao excluir"
                                href="{% url 'excluir_leitor' leitor.id %}"
                            >
                                Excluir
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">
                        Nenhum leitor cadastrado.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
